<div class="footer-container">
	<div class="footer-and-impressum">
		<div class="footer-wrapper">
			<div class="name">
				<h3 class="fontPoppins">Rob<span class="styled-letter">i</span>n</h3>
                <div class="impressum">
                        <a [routerLink]="['/impressum']">Impressum</a>
                </div>
			</div>
			<div class="my-name">
				<span>&copy; Robin Westmeier 2024</span>
			</div>
			<div class="github-linkedin-email">
				<div class="social-png">
					<a class="social-png-wrapper" href="">
						<img src="assets/img/symbols/github.png" alt="" (click)="openGithub()">
					</a>
					<a class="social-png-wrapper" href="#contact">
						<img src="assets/img/symbols/Email.png" alt="">
					</a>
					<a class="social-png-wrapper" href="">
						<img src="assets/img/symbols/Linkedin.png" alt="" (click)="openLinkedIn()">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>