<div class="about-me-container" id="about-me">
    <div class="left-line"></div>
    <div class="about-me-section">
        <div class="left-side">
            <div class="about-me fontPoppins">
                <h1>About me</h1>
                <p class="fontPoppins">
                    Hello, I'm Robin, a Frontend Developer based in Hagen, Germany. I have a background in Web Development with a focus on HTML, CSS, JavaScript, TypeScript, and Angular.
                </p>
                <div class="personal-info">
                    <div class="left-side-img">
                        <img src="assets/img/background/bulb.png" alt="">
                    </div>
                    <div class="right-side-info">
                        <p>
                            My passion lies in programming, which is why I specialize in Web Development. My aim is to create user-friendly websites that seamlessly blend functionality and aesthetics.
                        </p>
                    </div>
                </div>
                <div class="personal-info">
                    <div class="left-side-img">
                        <img src="assets/img/background/puzzle.png" alt="">
                    </div>
                    <div class="right-side-info">
                        <p>
                            In addition to my technical skills, I enjoy working closely with designers and backend developers to bring innovative projects to life. I'm committed to continuous learning and staying updated with the latest industry trends to ensure that my work remains cutting-edge and effective.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="image-container-face"></div>
        </div>
    </div>
    <div class="right-line"></div>
    <div class="purple-shadow">
        <img src="assets/img/background/Purple shadow3.png" alt="">
    </div>
</div>