<!-- <section class="about-me-section">
    <div class="left-side">
        <h3>About me</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod earum a nemo veniam molestias cum reiciendis aut quam totam, labore maxime cumque consequuntur praesentium dolorum optio! Quae corporis quisquam laudantium.</span>
    
        <div>
            <img src="" alt="">
            <span></span>
        </div>
        <div>
            <img src="" alt="">
            <span></span>
        </div>
    </div>

    <div class="right-side">

    </div>
    
</section> -->
<div class="about-me-container" id="about-me">
    <div class="left-line"></div>
    <div class="about-me-section">
        <div class="left-side">
            <div class="about-me fontPoppins">
                <h1>About me</h1>
                <p class="fontPoppins">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla ea placeat explicabo fuga. Delectus, officia in eligendi molestiae hic perferendis vero, obcaecati, rem vitae distinctio laborum dolor ut a reprehenderit!
                </p>
                <div class="personal-info">
                    <div class="left-side-img">
                        <img src="assets/img/background/bulb.png" alt="">
                    </div>
                    <div class="right-side-info">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda praesentium molestias quas ullam totam error nostrum sunt explicabo ipsum? Obcaecati natus nisi, blanditiis amet fugiat itaque quos inventore rerum optio.
                        </p>
                    </div>
                </div>
                <div class="personal-info">
                    <div class="left-side-img">
                        <img src="assets/img/background/puzzle.png" alt="">
                    </div>
                    <div class="right-side-info">
                        <p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque nam asperiores autem quas, placeat quam culpa vel aspernatur quisquam at eos sequi nisi. Recusandae placeat tempora quia excepturi consectetur optio.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="image-container-face"></div>
        </div>
    </div>
    <div class="right-line"></div>
    <div class="purple-shadow">
        <img src="assets/img/background/Purple shadow3.png" alt="">
    </div>
</div>