<div class="about-me-container" id="about-me">
    <div class="left-line"></div>
    <div class="about-me-section">
        <div class="left-side">
            <div class="about-me fontPoppins">
                <h1 class="hidden">{{'aboutMe' | translate}}</h1>
                <p class="fontPoppins">
                    {{'aboutMeTextFirst' | translate}}
                </p>
                <div class="personal-info">
                    <div class="left-side-img">
                        <img src="assets/img/background/bulb.png" alt="">
                    </div>
                    <div class="right-side-info">
                        <p>
                            {{'aboutMeTextSecond' | translate}}
                        </p>
                    </div>
                </div>
                <div class="personal-info">
                    <div class="left-side-img">
                        <img src="assets/img/background/puzzle.png" alt="">
                    </div>
                    <div class="right-side-info">
                        <p>
                            {{'aboutMeTextThird' | translate}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="image-container-face"></div>
        </div>
    </div>
    <div class="right-line"></div>
    <div class="purple-shadow">
        <img src="assets/img/background/Purple shadow3.png" alt="">
    </div>
</div>