<div class="my-skill-container" id="my-skills">
    <div class="my-skill-section">
        <div class="left-side">
            <div class="img-container">
                <div>
                    <img src="assets/img/symbols/html.png" alt="">
                    <span>HTML</span>                    
                </div>
                <div>
                    <img src="assets/img/symbols/css.png" alt="">
                    <span>CSS</span>
                </div>
                <div>
                    <img src="assets/img/symbols/JavaScript.png" alt="">
                    <span>JavaScript</span>
                </div>
                <div>
                    <img src="assets/img/symbols/TypeScript.png" alt="">
                    <span>TypeScript</span>
                </div>
                <div>
                    <img src="assets/img/symbols/angular.png" alt="">
                    <span>Angular</span>
                </div>
                <div>
                    <img src="assets/img/symbols/firebase.png" alt="">
                    <span>Firebase</span>
                </div>
                <div>
                    <img src="assets/img/symbols/git.png" alt="">
                    <span>GIT</span>
                </div>
                <div>
                    <img src="assets/img/symbols/rest-api.png" alt="">
                    <span>Rest-Api</span>
                </div>
                <div>
                    <img src="assets/img/symbols/material-design.png" alt="">
                    <span>Material <br> design</span>
                </div>
                <div>
                    <img src="assets/img/symbols/scrum.png" alt="">
                    <span>Scrum</span>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="my-skills-container">
                <div class="my-skills hidden">
                    <h3>My Skills
                    </h3>
                    <!-- <div class="right-line"></div> -->
                </div>
                <div class="info-box-and-button-container">
                    <div class="my-skills-info">
                        <p>
                           I have grown my skills that have allowed me to create different real projects.
                        </p>
                    </div>
                    <button (click)="scrollTo('contact')" class="lets-talk-button talk-button">Get in Touch</button>
                </div>
            </div>
        </div>
    </div>
    <div class="green-shadow">
        <img src="assets/img/background/Green shadow1.png" alt="">
    </div>
</div>