<div class="impressum-container">
    <div class='impressum'>
        <h1>{{'imprint'|translate}}</h1>
        <p>{{'entriesRefferedTo'|translate}}</p>
        <p>Robin Westmeier <br>
            Vormberg 47 <br>
            58093 Hagen <br>
        </p><br>
        <p> <strong class="font28">{{'represented'|translate}}</strong><br>
            Robin Westmeier<br>
        </p><br>
        <p><strong class="font28">{{'contact'|translate}}:</strong> <br>
            {{'telefone'|translate}}: 015785690804<br>
            E-Mail: <a href='mailto:W.Robin92@gmail.com'>W.Robin92&#64;gmail.com</a><br></p><br>
        <p><strong class="font28">{{'disclaimer'|translate}}</strong><br><br><strong class="font28">{{'liability'|translate}}</strong><br><br>
            {{'liabilityText'|translate}}
            <br><br><strong class="font28">{{'liabilityLinks'|translate}}</strong><br><br>
            {{'liabilityLinksText'|translate}}<br><br>
            <strong class="font28">{{'dataprotection'|translate}}</strong><br><br>
            {{'dataprotectionText'|translate}}
        </p><br> {{'imprintGenerated'|translate}}<br><br>
            <a href="#contact" style="color: #00bee8;">{{'backToContact'|translate}}</a>
    </div>
</div>