@import "../../../variables.scss";

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

.first-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 80%;
  position: relative;
  bottom: -80px;

  img {
    height: 705px;
    object-fit: cover;
  }

  .box-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 646px;
    height: 705px;
    z-index: 1;
    object-fit: fill;
    background-color: transparent;
  }

  img:not(.box-shadow) {
    position: relative;
    z-index: 1;
  }
}

.name {
  font-size: 68px;
  z-index: 2;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.occupation {
  font-size: 48px;
  z-index: 2;
  color: $secondary-color;
  font-weight: 400;
  letter-spacing: 3px;
  position: relative;
  bottom: 20px;
}
.rotated-span {
  transform: rotate(270deg);
  font-size: 52px;
  font-weight: 400;
  position: relative;
  bottom: 34px;
  left: 20px;
  white-space: nowrap;
  z-index: 2;
}

.right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 80%;
  position: relative;
  bottom: 20px;
  right: 150px;

  .name-and-occupation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
}
.talk-button {
  min-width: 165px;
  height: 55px;
  border-radius: 10px;
  border: none;
  background-color: $primary-color;
  color: #fff;
  font-size: 24px;
  position: relative;
  cursor: pointer;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 3;
  align-self: center;
}

.social-container {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: 90%;
  z-index: 2;

  .left-line {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4px;
    background-color: $secondary-color;
    flex-grow: 1;
    border-radius: 4px;
    min-width: 100px;
  }

  .right-line {
    flex-grow: 1;
  }

  .github-linkedin-email {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    align-items: center;
    padding-right: 20px;

    p {
      font-size: 23px;
    }

    .social-png {
      display: flex;
      align-items: center;
      gap: 40px;
      margin-right: 60px;
      padding: 0 20px;

      a {
        img {
          height: 30px;
          object-fit: cover;
          cursor: pointer;
          transition: transform 0.5s ease;
        }

        img:hover {
          transform: rotate(360deg);
        }
      }
    }
  }
}

.scroll-down {
  display: flex;
  position: absolute;
  z-index: 4;
  bottom: 3%;
  right: 100px;

  img {
    animation: bounce 2s infinite;
  }
}

.background {
  position: absolute;
  top: 590px;
  right: 0;
  width: 100vw;
  height: auto;
  z-index: 1;
  overflow-x: hidden;

  img {
    width: 100%;
  }
}

@media (max-width: 1720px) {
  .name {
    font-size: 70px;
  }

  .occupation {
    font-size: 48px;
  }

  .rotated-span {
    font-size: 54px;
  }

  .rotated-spanDE {
    font-size: 34px!important;
  }
}

@media (max-width: 1480px) {
  .left-side {
    bottom: -140px;
  }

  .right-side {
    justify-content: center;
    position: relative;
    left: -38px;
  }

  .rotated-span {
    font-size: 34px;
  }

  .rotated-spanDE {
    font-size: 24px!important;
  }

  .name {
    font-size: 52px;
  }

  .occupation {
    letter-spacing: 4px;
    font-size: 32px;
  }

  .left-side {
    width: 100%;

    .profile-img {
      height: 530px;
    }

    .box-shadow {
      left: auto;
      height: 530px;
    }
  }

  .background {
    top: 580px;
  }
}

@media (max-width: 1300px) {
  .background {
    top: 600px;
  }
}

@media (max-width: 1200px) {
  .first-section {
    flex-direction: column;
  }

  .right-side {
    bottom: 90px;
  }

  .name {
    position: relative;
    font-size: 72px;
  }

  .occupation {
    letter-spacing: 4px;
    font-size: 48px;
  }

  .rotated-span {
    font-size: 52px;
  }

  .rotated-spanDE {
    font-size: 34px!important;
  }

  .background {
    top: 51%;
  }
}

@media (max-width: 1025px) {
  .left-side {
    .box-shadow {
      height: 500px;
      top: 60px;
    }

    .profile-img {
      top: 6%;
      height: 65%;
    }
  }

  .right-side {
    left: -62px;
    bottom: 13%;
    width: 100%;
  }

  .social-container {
    top: 92%;
  }
}

@media (max-width: 961px) {
  .scroll-down {
    display: none;
  }
  .background {
    top: 53%;
  }
}

@media (max-width: 801px) {
  .right-side {
    left: -50px;
    bottom: 11%;
  }

  .name {
    font-size: 58px;
  }

  .occupation {
    font-size: 40px;
  }

  .rotated-span {
    font-size: 42px;
  }

  .rotated-spanDE {
    font-size: 28px!important;
  }

  .background {
    top: 59%;
  }

  .social-container {
    top: 94%;
    width: 85%;
  }

  .social-png p {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .right-side {
    .talk-button:hover {
      animation: hoverButton ease-in-out;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}

@media (max-width: 641px) {
  .right-side {
    left: -34px;
    bottom: 13%;
  }

  .name {
    font-size: 40px;
  }

  .occupation {
    font-size: 26px;
  }

  .rotated-span {
    font-size: 26px;
    left: 16px;
  }

  .rotated-spanDE {
    font-size: 18px!important;
  }

  .left-side {
    .box-shadow {
      width: 100%;
      top: -4%;
    }

    .profile-img {
      top: 0%;
      height: 60%;
    }
  }

  .background {
    top: 54%;
  }
}

@media (max-width: 481px) {
  .left-side {
    overflow: hidden;

    .profile-img {
      left: 6%;
    }
  }

  .right-side {
    left: -26px;
  }

  .name {
    font-size: 36px;
  }

  .occupation {
    font-size: 24px;
    bottom: 16px;
    letter-spacing: 2px;
  }

  .rotated-span {
    font-size: 24px;
    left: 16px;
  }
}

@media (max-width: 380px) {
  .left-side {
    .profile-img {
      left: 4%;
      height: 52%;
    }
  }

  .right-side {
    left: -20px;
  }

  .name {
    font-size: 30px;
  }

  .occupation {
    font-size: 22px;
    letter-spacing: 1px;
  }

  .rotated-span {
    font-size: 21px;
    left: 10px;
    bottom: 35px;
  }

  .background {
    top: 52%;
  }

  .social-container {
    top: 94%;
    width: 70%;
  }
}
