<section class="first-section">
    <div class="first-section-wrapper">
        <div class="left-side">
            <img class="box-shadow" src="./assets/img/background/Group shadow.png" alt="">
            <img class="profile-img" src="./assets/img/Robin-wide-noBg.png" alt="">
        </div>

        <div class="right-side">
            <p class="rotated-span" [ngClass]="{'rotated-spanDE': isGER()}"> {{'Iam' | translate}}</p>
            <div class="name-and-occupation">
                <div>
                    <Span class="name">Robin Westmeier</Span> <br>
                    <Span class="occupation">{{'occupation' | translate}}</Span>
                </div>
                <button (click)="scrollTo('contact')" class="talk-button"> {{'talk-button' | translate}}</button>
            </div>
        </div>
    </div>
</section>

<section class="social-container">
    <div class="left-line"></div>
    <div class="github-linkedin-email">
        <div class="social-png">
            <a href="https://github.com/RobinWestmeier"><img src="assets/img/symbols/github.png" alt=""></a>
            <a href="#contact"><img src="assets/img/symbols/Email.png" alt=""></a>
            <a href="https://www.linkedin.com/"><img src="assets/img/symbols/Linkedin.png" alt=""></a>
            <p>
                W.Robin92&#64;gmail.com
            </p>
        </div>
    </div>
    <div class="right-line"></div>

</section>

<div class="scroll-down">
    <img src="assets/img/symbols/scroll-down.png" alt="">
</div>

<div class="background">
    <img src="./assets/img/background/background-colordrop.png" alt="">
</div>