<section class="first-section">

    <div class="left-side">
        <img class="profile-img" src="/assets/img/Robin-wide-noBg.png" alt="">
    </div>

    <div class="right-side">
        <div class="name-and-occupation">
            <span class="rotated-span">I am</span>
            <div>
                <Span class="name">Robin Westmeier</Span> <br>
                <Span class="occupation">FULLSTACK DEVELOPER</Span>
            </div>
        </div>
        <button class="talk-button">Let´s talk!</button>
    </div>
</section>

<section class="social-container">
    <div class="left-line"></div>
    <div class="github-linkedin-email">
        <div class="social-png">
            <img src="assets/img/symbols/github.png" alt="">
            <img src="assets/img/symbols/Email.png" alt="">
            <img src="assets/img/symbols/Linkedin.png" alt="">
            <p>
                W.Robin92&#64;googlemail.com
            </p>
        </div>
    </div>
    <div class="right-line"></div>
</section>

<div class="scroll-down">
    <img src="assets/img/Scroll down.png" alt="">
</div>

<div class="background">
    <img src="/assets/img/background/background-colordrop.png" alt="">
</div>