<section class="first-section">

    <div class="left-side">
        <img class="profile-img" src="/assets/img/Robin-wide-noBg.png" alt="">
    </div>

    <div class="right-side">
        <div class="name-and-occupation">
            <span class="rotated-span">I am</span>
            <div>
                <Span class="name">Robin Westmeier</Span> <br>
                <Span class="occupation">FULLSTACK DEVELOPER</Span>
            </div>
        </div>
        <button class="talk-button">Let´s talk!</button>
    </div>
</section>


<div class="background">
    <img src="/assets/img/background/background-colordrop.png" alt="">
</div>